<div id="main">
	<section id="topsection">
	<br>
		<%= render partial: "search" %>
		<div id="video">
			<iframe src="http://player.vimeo.com/video/102186242?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="550" height="310" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div id="formula">
			<h3>The 70% RULE</h3>
			<h4>The Most Important Formula When Flipping Houses </h4>

		    <p> Enter the after-repair-value,(AVR), of the property.</p>
			$<%= text_field('avr', nil, placeholder: 'eg. 300,000') %>
			<p>Enter estimateed cost for total repairs.</p>
			$<%= text_field('repair', nil, placeholder: 'eg. 40,000') %> <br>
			<%= button_tag "Submit", id:'formulButton' %>
		
			<p>To earn a of profit, you need to purchase the property <br>	 for no more than:</p>

			 <div id='houseCost'></div>
		</div>
	</section>

	<section id="middlesection">
	<hr id="bar">
	<h2>You are always going to have question about buying and selling property. Here is where you'll find answers.</h2>
		<div id="hot">
			<article><%=link_to "HOT MARKETS", lenders_path %></article>
		</div>
		<div id="risk">
			<article><%=link_to "RISKS OF FLIPPING", addition_info_index_path %></article>

		</div>

	</section>
	<!-- <hr>
	<section id="bottomsection">
		<p>MORE INFO</p>
		<p>MORE INFO</p>
		<p>MORE INFO</p>
	</section> -->
	
</div>


