<!DOCTYPE html>
<html>
<head>
  <title>Flip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
<p id="logo"><%= link_to 'BOGO', root_path %></p>
	<ul id="login">
		<% if current_user %>
		<li><p id="welcome">Welcome <%= link_to "#{current_user.name}", favorites_path %> |  <%= link_to "Log Out", destroy_user_session_path, method: "delete" %></p></li>
		<% else %>
		<li><p><span id="signin">Sign In</span> | <span id="signup"> Sign Up</span></p></li>
		<% end %>	
		<br>
	</ul>	
	<div id="navset">
		<nav>
			<ul class="navdrop">
				<li><%= link_to 'home', root_path %>
				</li>		
				<li><%=link_to 'find properties', homes_path %>
					<ul> <% if current_user %>
						<li><%=link_to "saved favorites", favorites_path %></li>
						<% end %>

					</ul>
				</li>	
				<li><%=link_to'forums', forums_path %>
					<ul>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
					</ul>
		 		</li>
		 		<li><%=link_to "lenders", lenders_path %>
		 		</li>
		 		<li><%=link_to "design ideas", design_ideas_path %>
					<ul>
						<li><a href="">contractors</a></li>
						<li><a href="">showrooms</a></li>
					</ul>
				</li>
				<li><%=link_to "additional resources", addition_info_index_path %>
		 		</li>		
			</ul>
		</nav>
	</div>
	<div id="joinnow">
		<%= render partial: "homes/signup" %>
	</div>
	<div id="loggin">
		<%= render partial: "homes/signin" %>
	</div>
</div>

<div id="ten"></div>
<div id="buffer">
<%= yield %>
</div>
</body>
</html>


